.site-header {
	background-color: #fafafa;
}

.site-branding {
	height: 80px;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	height: 65px;
	background-color: #333;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		// position: relative;
		display: inline-block;
		width: auto;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		
		padding : 10px 10px;
		line-height: 45px;
		color: #fff;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

nav {
	background-color: #000;
}

@media screen only and (min-width:992px){
	nav {
		background-color: transparent;
	}
}

.navbar.fixed {
	 position: fixed;
	 top: 0;
	 left:0;
	 right: 0;
	 z-index: 9999;
	 nav {
		 background-color: #000;
	 }
}

.navigation {
	background-color: #000;
	margin-top: -4px;
	&:before {
		content: '';
		height: 4px;
		width: 100%;
		background-color: #4fc3f7;
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin-bottom: .5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-primary-menu-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
  .menu-primary-menu-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .menu-primary-menu-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
	.menu-primary-menu-container {
		//width: 1170px;
		min-height: 64px;
	}
}

